<div class="content">
  <div class="text-box">
    <h2>การประกวดแข่งขันไก่แจ้</h2>
    <p>
      เพื่อเป็นการอนุรักษ์สานยันธุ์ไก่แจ้ไทย ปรับปรุงสายพันธุ์<br />
      และป้องกันการสูญพันธ์ของไก่แจ้ไทย จึงได้จัดกิจกรรมประกวดแข่งขันไก่แจ้<br />
      เพื่อเป็นการส่งเสริมการเลี้ยงไก่แจ้ <br />
      หากท่านสนใจ
    </p>

    <a class="btnSignupFree" href="/register">สมัคร ที่นี่</a>
  </div>
  <div class="pic-box">
    <img
      src="https://drive.google.com/uc?export=view&id=1vJ_Me8g5qyFzWmJWDGeRpidTCatjI8Zr"
      style="width: 500px; max-width: 100%; height: auto"
    />
  </div>
</div>
